<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>quotes</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <span><a href="{{url_for('add_qoute')}}">Add your own qoute!</a></span>
    <span><a href="#">Go to your favorites quotes!</a></span>
    {% for i in quotes %}
    <center>
        <h3>"{{quotes[i]["text"]}}"</h3><span>{{quotes[i]["author"]}}</span>
        <button>Add to favorites!</button>
    </center>
    {% endfor %}
</body>
</html>